@font-face {
  font-family: 'robotomedium';
  src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'impactregular';
  src: url('fonts/impact-webfont.woff2') format('woff2'),
       url('fonts/impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* CSS Reset Start */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Reset End */

.hide {
  display: none !important;
}

body {
  height: 130vh;
  background-image: url(blue-lock-images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboardContainer {
  width: 1130px;
  height: 730px;
  background-color: rgba(0, 0, 0, 0.95);
  color: #ffffff;
  border-radius: 20px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboardContainer .title {
  font-family: "impactregular";
  font-size: 4rem;
  letter-spacing: 3px;
  margin: 20px 0 0;
}

/* GAME STARTING STYLING SECTION START */

.choosePlayerContainer {
  width: 90%;
  height: 500px;
  background-image: url(blue-lock-images/versus-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px, 1fr;
  grid-template-areas: 
  "title title"
  "playerOne playerTwo";
  place-items: center;
}

.choosePlayerContainer h1 {
  grid-area: title;

  font-family: "impactregular";
  font-size: 3rem;
  text-shadow: 2px 2px #ffffff;
  letter-spacing: 3px;
  margin: 10px 0 0;
}

.playerOne {
  grid-area: playerOne;
}

.playerTwo {
  grid-area: playerTwo;
}

.charactersContainer {
  background-color: #000;
  border-radius: 10px;
  transition: all 500ms ease-in-out;

  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: repeat(2, 160px);
  place-items: center;
}

.charactersContainer.first:hover {
  transform: translateX(5px) translateY(-5px);
  box-shadow: -5px 5px #fff;
}

.charactersContainer.second:hover {
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px #fff;
}

.charactersContainer div {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.charactersContainer div:hover {
  box-shadow: inset 0 0 30px #000;
}

.charactersContainer div img {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 5px;
}

.chosenCharOutput {
  font-family: "impactregular";
  font-size: 1.7rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  text-align: center;
  margin-top: 15px;
}

.wrapper{
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper{
  position: relative;
}

a{
  display: block;
  width: 300px;
  height: 70px;
  font-family: "impactregular";
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  transition: all .35s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 18%;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #fff;
  transition: all .35s;
}

a:hover{
  width: 200px;
  font-size: 1.4rem;
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

a:hover + .icon{
  border: 3px solid #fff;
  right: -22%;
}

/* GAME STARTING STYLING SECTION END */



/* GAME PLAYING STYLING SECTION START */

.boardWrapper {
  width: 90%;
  height: 500px;
  background-image: url(blue-lock-images/versus-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 45%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  place-content: center;
  gap: 15px;
}

.cell {
  background-color: #fff;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.cell:hover {
  transform: scale(1.05);
}

.playerTurn {
  font-family: "impactregular";
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-top: 30px;
}

/* GAME PLAYING STYLING SECTION END */