@font-face {
  font-family: 'robotomedium';
  src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'impactregular';
  src: url('fonts/impact-webfont.woff2') format('woff2'),
       url('fonts/impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* CSS Reset Start */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS Reset End */

body {
  height: 130vh;
  background-image: url(blue-lock-images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}